body {
    background-color: black;
    background-image: url("../pics/background-bw50q.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
h1, h2, h3, h4, h5, h6, p {
    color: $color;
}
h1, h2, h3, h4, h5, h6, #subhead {
    text-align: center;
}
h1 {
    font : {
        family: 'Ubuntu Condensed', san-serif;
        size: 2.5rem;
    }
    @include breakpoint-up(large){
        font-size: 3rem;
    } 
    text-shadow: 4px 4px 4px $shadow;
    display: block;
    margin: 0 auto;
    width: 90%;
    color: hsla(0, 0%, 100%, 1);
    
}
h2 {
    font : {
        family: 'Ubuntu', san-serif;
        size: $h24;
        weight: 200;
    } 
    margin-bottom: 0.5rem;
    color: $headcolor;
}
h3 {
    color: $headcolor;
    font : {
        family: 'Ubuntu', san-serif;
        size: $h24;
        weight: 400;
    
    }
}

h4 {
    color: $headcolor;
    font : {
        family: 'Ubuntu', san-serif;
        size: 1rem;
        weight: 500;
    }
}
p {
    font : {
        family: 'Open Sans', san-serif;
        size: $p;
    }
    color: $color;
}

#subhead {
    font : {
        family: 'Ubuntu Condensed', san-serif;
        size: 18px;
    }
    text-shadow: 3px 3px 3px $shadow;
    display: block;
    margin: 0.5rem auto;
    width: 95%;
    color: $headcolor;

}



.sec {
    
    width: 100%;
    display: block;
    margin: 7rem auto;
    .content {
        width: 80%;
        background-color: $secback;
        padding: 2rem 1.5rem;
        display: block;
        margin: 0 auto;
        @include border(1px, $radius);
    }
}

